{% extends "../sites/base.html" %}
{% load static %}
{% block title%}Home{%endblock%}
{% block content %}

<style>
    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
</style>
  
<div class="table-responsive-sm">
  <table id="tableID" class="display">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">Item</th>
        <th scope="col">Amount Credit</th>
        <th scope="col">Created</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {%for c in credits%}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{c.customer.name }}</td>
          <td>{{c.description}}</td>
          <td>{{c.amount_credit}}</td>
          <td>{{c.created }}</td>
          <td>
            <a href={% url "credit:update_credit" id=c.id %} class="btn btn-primary" role="button">Update</a>
            <a href="{{ c.get_absolute_url }}" class="btn btn-danger" role="button">Paid</a>
          </td>
          
        </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
  <script>
  
    // Initialize the DataTable
    $(document).ready(function () {
      $('#tableID').DataTable({
  
        // Enable paging
        // of the DataTable
        paging: true
      });
    }); 
  </script>
{%endblock%}